body {
  background-color: var(--bs-purple);
}

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  max-width: 575px;
  padding: 3rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 20px 6px rgba(black, 0.2);
}

header {
  h1 {
    font-weight: 700;

    + p {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 0.35rem;
    font-size: 1.2rem;
    font-weight: 600;

    + div {
      margin-top: -0.5rem;
      font-size: 0.9rem;
    }
  }

  .logout {
    font-size: 0.9rem;
    color: var(--bs-red);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  h2 {
    font-size: 1rem;
    font-weight: 400;
    color: white;

    a {
      color: inherit !important;
      text-decoration: none;
    }
  }
}
